filelock==3.18.0
fsspec==2025.3.2
-e git+ssh://git@github.com/ed2189/ITUAuction.git@9008c94ad58b02167d88deba621846a26cbef280#egg=itu_auction
Jinja2==3.1.6
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.5
setuptools==80.7.1
sympy==1.14.0
torch==2.7.0
typing_extensions==4.13.2
